body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(228, 243, 243);
}
header{
    width: 100%;
    background-color: rgb(152, 216, 146);
    color: rgb(38, 0, 255);
    text-align: center;
    line-height: 1.8em;
}
h1{
    background-color: bisque;
    color: brown;
    text-align: center;
}
footer{
    background-color: yellow;
    text-align: center;
}